<?php
session_start();
    // Adiciona o texto à lista de notas
    if (!empty($texto)) {
        $_SESSION['notas'][] = $texto;
    }
?>

<!DOCTYPE html>
<html>

<head>
    <title>Notas</title>
</head>

<style>
    * {
        margin: none;
    }
    body {
        background-color: #F5FFFA;
    }

    h1 {
        text-align: center;
    }

    .notes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
</style>

<body>
    <h1>Note Taker</h1>
    <div class="notes">
        <h2>Notas</h2>
        <form method="POST" action="/session/gravarNota">
            <textarea name="text" rows="4" cols="50"></textarea>
            <input type="hidden" name="user_id" value="<?php echo "$user[id]"; ?>">
            <br>
            <input type="submit" value="Adicionar Nota">
        </form>
    </div>
       

    <div class="notes">
        <h2>Listagem de Notas</h2>
    </div>
    
    <div class="list">
        <ul>
            <?php
    
                foreach ($notas as $key => $nota) {             
                    echo "<li>$nota[text]</li>";
                }
            ?>
        </ul>
        <form method="POST" action="/">
            <input type="submit" value="Logout">
        </form>
    </div>
    

</body>

</html>