<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="main">
        <p class="login" align="center">Login</p>
        <form class="frmlogin" action="session" method="post">
            <p><input type="email" name="email" placeholder="Email" class="email"></p>
            <p><input type="password" name="password" placeholder="Senha" class="pass"></p>
            <input type="submit" value="Entrar" class="submit" >
        </form>
    </div>
</body>
</html>
